@import "../app/main.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

/* COMMON STYLES */



.subtitle {
  font-size: 1.5em;
  line-height: 1.5;
}

.backstage,
.watch-your-favorite-animal-online,
.pet-descr,
.pets-btn,
/* .pets-slider, */
.feed-steps,
.feed-step-img,
.person,
.person-info>div:nth-child(2)  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pets-btn:hover {
  background: var(--hover-orange);
}

.pets-btn:active {
  background: var(--green);
}

.pets-btn:disabled {
  background: var(--grey);
}

/* Watch your favorite animal online SECTION STYLING */
#watch-your-favorite-animal-online {
  width: 100%;
  padding: 12px 0 100px;
  background:  url("../../assets/images/Giant Panda.png") center center no-repeat;
  background-size: cover;
}

#watch-your-favorite-animal-online h2 {
  font-size: 114px;
  line-height: 75%;
  text-transform: uppercase;
  color: #fff;
  margin-top: 48px;
  text-align: center;
  position: relative;
  z-index: 100;
}

#watch-your-favorite-animal-online h2::before {
  content: "";
  position: absolute;
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  bottom: 9px;
  left: -73px;
  z-index: -1;
}


#watch-your-favorite-animal-online h2 span {
  color: var(--yellow);
}

.watch-your-favorite-animal-online {
  flex-direction: column;
  align-items: end;
  margin: 0 auto;
  justify-content: center;
}

.watch-your-favorite-animal-online-btn {
  margin: 60px auto 0;
}

/* Backstage SECTION STYLING */

.backstage {
 margin: 140px auto 180px;
}

#backstage {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.backstage-bg-img {
  position: absolute;
  top: 0;
  right: -97px;
}

.backstage-text {
  padding-left: 87px;
  box-sizing: border-box;
}

.backstage-text-subtitle {
  margin: 54px 0 34px;
}

/* Pets SECTION STYLING */

#pets {
  position: relative;
  /* overflow-x: hidden; */
}

#wrapper {
  width: 100%
  position: relative;
}

#carousel {
  max-width: 1160px;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev {
  display: none;
}

#content {
  display: grid;
  grid-gap: 29px;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  margin: auto;
  box-sizing: border-box;
  position: relative;
}

.pet {
  border: 1px solid var(--orange);
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
  width: 364px;
}

.pet-img {
  overflow: hidden;
}

.pet-img img {
  border-radius: 5px 5px 0 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn-choose-your-faivourite {
  margin: 60px auto 100px;
}

.pet-descr {
  padding: 14px 8px 14px 16px;
}

.pet-name {
  text-transform: uppercase;
  font-weight: 700;
}

.pet:hover .pet-img img {
  transform: scale(1.1);
  transition: .3s;
}

.pet:hover {
  background: var(--black-blue);
  color: var(--ligth-grey);
}

.pets-gallery-btns {
  position: absolute;
}

.pets-prev-btn img {
  margin-top: 8px;
}

.pets-next-btn img {
  margin-top: 8px;
}

.pets-btn {
  justify-content: center;
  height: 62px;
  width: 62px;
  border-radius: 50%;
  background: var(--orange);
  position: absolute;
  top: 45%;
  cursor: pointer;
}

.pets-prev-btn {
  left: -10%;
}

.pets-next-btn {
  right: -10%;
}


.pets-next-btn {
  transform: rotate(180deg);
}

.pets-slider {
  justify-content: center;
  position: relative;
}

.pets-bg-imgs img:first-child {
  position: absolute;
  bottom: 0;
  left: -20px;
  transform: scale(2);
}

.pets-bg-imgs img:last-child {
  position: absolute;
  bottom: -100px;
  right: 0;
}

/* Pick-and-Feed SECTION STYLING */

#pick-and-feed {
  padding: 69px 0 100px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%);
}

.pick-and-feed {
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  padding: 40px 0 60px !important;
  box-sizing: border-box;
}

.p-and-f {
  padding: 0 99px;
}

.pick-and-feed h3 {
  color: var(--orange);
  text-align: center;
}

.pick-and-feed .subtitle {
  margin: 30px 0 40px;
}

.pick-and-feed p {
  margin-bottom: 10px;
}

.covid-19 {
  font-weight: 500;
  letter-spacing: -0.3px;
}

.feed-steps {
  padding: 0 100px;
  box-sizing: border-box;
}

.feed-step {
  width: 168px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feed-step-img {
  background: #fff;
  width: 168px;
  height: 168px;
  border-radius: 5px;
  border: 1px solid var(--orange);
  justify-content: center;
  margin-bottom: 30px;
}


.pick-and-feed a {
  text-decoration: underline;
  text-decoration-color: var(--orange);
}

.pick-and-feed a:hover {
  color: var(--orange);
}


.step-arrow {
  margin-bottom: 70px;
  height: 35px;
  width: 70px;
  background: url("../../assets/images/pick-and-feed-arrow.png") center center no-repeat;
}

.feed-a-friend-btn {
  margin: 60px auto 0;
}

/* Testimonials SECTION STYLE */

#testimonials {
  padding: 80px 0 180px;
  background: var(--frosted-glass-white);
  position: relative;
  overflow: hidden;
  font-size: 15px;
}

.testimonial-range-cover {
  background: linear-gradient(315.75deg, rgba(254,189,171,0.74) 30.06%, rgba(243,169,248,0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%),linear-gradient(315.75deg, rgba(254,189,171,0.74) 30.06%, rgba(243,169,248,0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  height: 8px;
  border-radius: 4px;
  margin: 20px 25% 35px;
  position: relative;
}

input[type="range"] {
  width: 100%;
  position: absolute;
  top: 1px;
  left: 1px;
  -webkit-appearance: none;
 appearance: none;
 background: transparent;
 cursor: pointer;
}

/* Track Styles */
/* Chrome, Safari, Opera, and Edge Chromium && Firefox */
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--ligth-grey);
  height: 6px;
  border-radius: 3px;
}

/* Firefox */
input[type="range"]::-moz-range-track {
  background: var(--ligth-grey);
  height: 6px;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 6px;
  width: 75px;
  border-radius: 3px;
  background: var(--orange);
  cursor: ew-resize;
  transition: background .3s ease-in-out;
  cursor: pointer;
}

.testimonials-container  {
  display: grid;
  grid-gap: 30px;
  grid-auto-flow: column;
  max-width: 1160px;
  overflow: hidden;
  margin: auto;
}



.testimonial-wrap {
  padding: 2px;
  border-radius: 20px;
  width: 266px;
  height: 390px;
  background: linear-gradient(315.75deg, rgba(254,189,171,0.74) 30.06%, rgba(243,169,248,0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%),linear-gradient(315.75deg, rgba(254,189,171,0.74) 30.06%, rgba(243,169,248,0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  box-sizing: border-box;
  overflow: hidden;
}

.testimonial {
  padding: 16px 16px 2px 16px;
  border-radius: 20px;
  background: var(--ligth-grey);
  box-sizing: border-box;
}

.testimonial-text {
  max-height: 321px;
  min-height: 313px;
  overflow-y: scroll;
  color: var(--grey-smoky);
  margin-top: 10px;
}

.testimonial-text::-webkit-scrollbar {
  display: none;
}

.testimonial-wrap:not(.testimonial-wrap:last-child) {
  margin-right: 30px;
}

.testimonial-bg-img img {
  position: absolute;
  bottom: -130px;
  right: 0;
}

.person {
  justify-content: flex-start;
}

.person-info {
  margin-left: 10px;
}

.person-info>div:nth-child(2) {
  color: #BDBDBD;
}

.testimonial-date {
  margin-left: 16px;
  position: relative;
}

.testimonial-date::before {
  content: "";
  width: 3px;
  height: 3px;
  position: absolute;
  top: 8px;
  left: -8px;
  background: var(--grey);
  border-radius: 50%;
}

.pop-close-btn {
  display: none;
}


@media only screen and (max-width: 1599px) {

  h3 {
    line-height: 1.2;
    font-size: 2.5em;
  }

  #watch-your-favorite-animal-online {
    margin-top: -20px;
  }

  #watch-your-favorite-animal-online h2 {
    font-size: 85px;
   }

   #watch-your-favorite-animal-online h2::before {
     width: 367px;
     height: 367px;
     bottom: 6px;
     left: -34px;
   }

   .watch-your-favorite-animal-online {
     padding-right: 85px;
   }

   .backstage-bg-img {
     display: none;
   }

   .backstage-img img {
     width: 455px;
     height: 408px;
     object-fit: cover;
   }

   .backstage-text {
     padding-left: 30px;
   }

   .backstage-text h3 {
     margin-bottom: 20px;
   }

   #carousel {
     max-width: 945px;
     margin: auto;
   }

   #content {
     row-gap: 100px;
    }

    .pet {
      width: 294px;
    }

   .pet-descr {
     font-size: .9em;
   }

   .pets-btn {
     top: 45%;
   }

   .pets-prev-btn {
     left: 33%;
   }

   .pets-next-btn {
     right: 33%;
   }

  .pets-bg-imgs img:first-child {
    bottom: -100px;
    left: 0;
    transform: scale(1);
  }

  .pets-bg-imgs img:last-child {
    bottom: -169px;
    right: -94px;
    transform: scale(0.5);
  }

  #pick-and-feed {
    padding: 30px 30px 50px;
  }

  .feed-step-img {
    width: 118px;
    height: 118px;
  }

  .feed-step-img img {
    object-fit: cover;
    max-width: 85%;
  }

  /* .testimonial-wrap:nth-child(4) {
    display: none;
  } */

  #pick-and-feed {
    padding: 30px;
  }

  .pick-and-feed {
    padding: 30px 0 50px !important;
  }

  .p-and-f {
    padding: 0 50px;
  }

  .subtitle {
    font-size: 29px;
    /* text-align: center; */
  }

  .p-and-f p {
    display: none;
  }

  .testimonials-container  {
    max-width: 940px;
  }



  .testimonial-wrap {
    width: 291px;
  }



}

@media only screen and (max-width: 999px) {

  #watch-your-favorite-animal-online {
    margin-top: -10px;
  }

  #watch-your-favorite-animal-online h2 {
    font-size: 54px;
   }

    #watch-your-favorite-animal-online h2::before {
      width: 237px;
      height: 237px;
      left: -47px;
    }

    .watch-your-favorite-animal-online {
      padding-right: 15px;
    }

    .watch-your-favorite-animal-online-btn {
      margin: 0;
      position: absolute;
      left: 5%;
    }

    .backstage {
      padding-right: 130px;
      margin-bottom: 40px;
      margin-top: 60px;
      margin-bottom: 80px;
    }

    .backstage-img {
      display: none;
    }

    .backstage-bg-img {
      display: block;
      top: -50px;
      right: -47px;
      transform: scale(0.8);
    }

    .pets-slider.container {
      padding: 20px;
    }

    #carousel {
      max-width: 604px;
    }

    #content {
      row-gap: 100px;
     }

     .pet {
       width: 284px;
     }

    /* .pets {
      grid-template-columns: 1fr 1fr;
    } */

    .pet:last-child,
    .pet:nth-child(5) {
      display: none;
    }

    .pets-bg-imgs img:first-child {
      left: -62px;
    }

    #pick-and-feed {
      padding: 20px 0;
    }

    .p-and-f {
      padding: 0 20px;
    }

    .feed-steps {
      justify-content: center;
      align-items: flex-start;
    }

    .feed-step {
      width: 118px;
      position: relative;
    }

    .feed-step:not(.feed-step:last-child) {
      margin-right: 40px;
    }

    .feed-step:not(.feed-step:last-child)::after {
      content: "";
      background: url("../../assets/images/green-arrow.png") center center no-repeat;
      width: 64px;
      height: 70px;
      position: absolute;
      top: -40px;
      right: -50px;
      background-size: contain;
      z-index: 999;
    }

    .step-arrow {
      display: none;
    }

    #testimonials {
      padding: 60px 0 80px;
    }

    h4 {
      margin: 0 0 30px;
    }

    .testimonials-container {
      display: flex;
      flex-direction: column;
      gap: 0;
      max-height: 360px;
      overflow-y: hidden;
    }

    .testimonial-range-cover {
      display: none;
    }

    input[type="range"] {
      display: none;
    }

    .testimonial-wrap  {
      margin: 0 0 15px;
      width: 100%;
      height: 110px;
    }

    .testimonial-wrap:not(.testimonial-wrap:last-child) {
      margin-right: 0;
    }

    .testimonial {
      height: 106px;
    }

    .testimonial-text {
      margin-top: 0;
      max-height: 38px;
      overflow: hidden;
    }

    .pop-wrap.open .testimonial-wrap  {
      width: 100%;
    }

    .pop-wrap.open .testimonial-text  {
      height: auto;
      overflow: visible;
    }

    .pop-wrap.open .testimonial-text

    .testimonial-range-cover {
      display: none;
    }

    .testimonial-bg-img img {
      bottom: -192px;
      right: -88px;
      transform: scale(0.3);
    }

    .rectangle-btn.btn-leave-feedback  {
      width: 240px;
    }

    .pop-wrap.open {
      position: fixed;
      background: #fff;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px 36px 17px 17px;
      z-index: 999;
      box-sizing: border-box;
    }

    .pop-wrap.open .testimonial-wrap,
    .pop-wrap.open .testimonial {
      height: 100%;
    }

    .pop-close-btn {
      width: 14px;
      height: 14px;
      position: fixed;
      top: 12px;
      right: 10px;
      cursor: pointer;
      z-index: 1000;
    }

    .pop-wrap.open .pop-close-btn {
      display: block;
    }

    .one,
    .two {
      content: "";
      position: absolute;
      top: 7px;
      right: 0;
      width: 14px;
      height: 1px;
      background: var(--orange);
    }

    .one {
      transform: rotate(45deg);
    }

    .two {
      transform: rotate(-45deg);
    }
}

@media only screen and (max-width: 639px) {

  #watch-your-favorite-animal-online h2 {
    font-size: 28px;
  }

  #watch-your-favorite-animal-online h2::before {
    width: 120px;
    height: 120px;
    left: -22px;
  }

  .watch-your-favorite-animal-online-btn {
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 310px;
    z-index: 500;
  }

  .backstage-bg-img {
    transform: scale(0.5);
    top: -124px;
    right: -97px;
  }

  h3 {
    font-size: 29px;
  }

  .backstage-text h3 {
    margin-bottom: 10px;
  }

  .backstage-text-subtitle {
      margin: 20px 0 10px;
      text-align: left;
  }

  #pets {
    overflow: hidden;
  }

  #carousel {
    max-width: 286px;
  }

   .pet {
     width: 284px;
   }

  #content {
    /* grid-template-columns: 1fr; */
    row-gap: 0;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  #prev,
  #next {
    display: none;
  }

  .pet-descr {
    font-size: 11px;
  }

  .pet-icon {
    max-width: 24px;
  }

  .backstage-text {
    padding-left: 0;
  }

  .backstage {
    padding-right: 10px;
    margin-bottom: 40px;
    margin-top: 104px;
  }

  .backstage-text h3,
  .backstage-text p:first-of-type {
    padding-rigth: 30px;
  }

  .pets-bg-imgs img:last-child {
    bottom: -84px;
    right: -142px;
    transform: scale(0.4);
  }

  .pets-bg-imgs img:first-child {
    bottom: -54px;
    left: -65px;
    transform: scale(0.6);
  }

  .btn-choose-your-faivourite {
    margin-top: 0;
  }

  .feed-steps {
    align-items: center;
    flex-direction: column;
  }

  .feed-step {
    width: 168px;
    position: relative;
  }

  .feed-step-img {
    width: 168px;
    height: 168px;
    margin-bottom: 0;
  }

  .feed-step:not(.feed-step:last-child) {
    margin-right: 0;
  }

  .feed-step:not(.feed-step:last-child)::after {
    width: 64px;
    height: 70px;
    top: auto;
    right: -47px;
    bottom: -6px;
    transform: rotate(90deg);
  }

  .pick-and-feed p {
      margin: 10px 0 30px;
  }

  .feed-a-friend-btn {
    margin: 0 auto;
  }

  #testimonials {
    padding: 30px 0 60px;
  }

  h4 {
    margin: 0 0 20px;
    font-size: 28px;
  }

  .testimonial-bg-img img {
    bottom: -192px;
    right: -88px;
    transform: scale(0.3);
  }

}
