:root {
  --green: #4B9200;
  --orange: #FE9013;
  --hover-orange: #E47209;
  --yellow: #FFEE2E;
  --orange-grad: #FED290;
  --pink-grad: #FEBDAB;
  --red: #D31414;
  --black-blue: #333B41;
  --grey: #767474;
  --grey-smoky: #ABABAB;
  --ligth-grey: #F1F3F2;
  --frosted-glass-white: #FDFDFF;
}

/* COMMON STYLES --------------- */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: var(--black-blue);
}

body, body * {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-screen,
.nav-list,
.btn,
.footer-nav,
footer .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background: var(--orange);
  width: 298px;
  height: 54px;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
}

.btn:hover {
  background: var(--hover-orange);
}

.btn:active {
  background: var(--green);
}

.btn:disabled {
  background: var(--grey);
}

.oval-btn {
  border-radius: 25px;
}

.rectangle-btn {
  border-radius: 5px;
}



/* NAVIGATION --------------- */

header {
  background: #000;
  color: #fff;
  width: 100%;
  z-index: 1000;
  position: relative;
}

.nav-container {
  display: flex;
}

.nav-screen {
  height: 80px;
  font-weight: 500;
}

.open-nav {
  display: none;
  padding: 2px;
  position: relative;
}

.open-nav li {
  width: 18px;
  height: 2px;
  background: var(--ligth-grey);
  margin: 2px 0;
  border-radius: 2px;
}

.open-nav.close-nav li:nth-child(2) {
  display: none;
}

.open-nav.close-nav li:first-child {
  transform: rotate(-45deg);
  position: absolute;
  top: 8px;
  left: 3px;
}

.open-nav.close-nav li:last-child {
  transform: rotate(45deg);
  position: absolute;
  top: 8px;
  left: 3px;
}

.nav-list li {
  margin: 0 30px;
}

.nav-list li:first-child {
  margin-right: 30px;
}

.nav-list li a.active,
.nav li a.active,
.nav li a:hover,
.nav-list li a:hover:not(.nav-list li a.logo:hover) {
  color: var(--orange);
}

.nav-list li a:active {
  color: var(--green);
}

.logo-box {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  color: #fff;
  border: 1px #fff solid;
  padding: 4px 5px;
  display: flex;
  border-radius: 2px;
  display: inline-block;
  margin-right: 30px;
}

.logo-box:hover {
  color: #fff;
  border-color: var(--orange);
  background: var(--orange);
}

.logo-box span {
  position: relative;
}

.logo-box span::before {
  content: "";
  background: url("../../assets/images/bamboo.png") center center no-repeat;
  height: 21px;
  width: 7px;
  position: absolute;
  left: -2px;
  bottom: 3px;
}


/* Footer STYLING  ---------------- */

footer {
  background: #111115;
  padding: 40px 0 50px;
}

.form-container  {
  margin-bottom: 36px;
}

h5 {
  font-size: 1.5em;
  line-height: 1.5;
  color: #fff;
  font-weight: 300;
  margin-bottom: 14px;
}

.form-container input {
  width: 228px;
  height: 42px;
  border: 1px solid var(--orange);
  color: #fff;
  background: #111115;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 2px;
}

.form-container input::placeholder {
  color: #fff;
}

.form-container button {
  background: #fff;
  border: 1px solid var(--green);
  color: var(--green);
  border-radius: 5px;
  height: 42px;
  width: 129px;
}

.form-container button:hover {
  background: var(--green);
  color: #fff;
}

.footer-donate-btn {
  margin-bottom: 44px;
}

.sns-list {
  flex-direction: column;
  align-items: flex-start;
}

.sns-list a {
  margin-bottom: 10px;
  color: #fff;
}
.sns-list a img {
  object-fit: none;
  margin-right: 12px;
  width: 26px;
  height: 26px;
  background: var(--black-blue);
  border-radius: 50px;
}

.sns-list a:hover {
  color: var(--green);
}

.sns-list a:hover > img {
  background: var(--green);
}

.sns-list a:hover .sns-list a img {
  background: var(--green);
}

.footer-nav {
  align-items: flex-end;
}

footer .nav {
  margin-left: 20%;
  color: #fff;
}

footer .active {
  color: var(--orange);
}

footer .nav li {
  margin: 0 28px;
}

footer {
  color: #fff;
  font-weight: 300;
}

/* PICK AND FEED --------------- */



@media only screen and (max-width: 1599px) {

  .container {
      padding: 0 30px;
  }
}

@media only screen and (max-width: 1000px) {

  /* NAVIGATION --------------- */

  .small-screen .open-nav {
    position: absolute;
    top: 30px;
    right: 20px;
    border: 2px solid var(--orange);
    width: 20px;
    height: 20px;
    border-radius: 2px;
  }

  .small-screen .open-nav li {
    background: var(--orange);
  }

  .open-nav {
    display: block;
  }

  .nav-list {
    display: none;
  }

  .nav-figma-link {
    display: none;
    margin-top: 7px;
  }

  .nav-screen {
    height: 34px;
  }

  .logo-box {
    border: none;
    font-size: 12px;
    padding: 0 3px;
  }

  .nav-screen.small-screen,
  .nav-container,
  .nav-list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .nav-screen.small-screen .nav-list li {
    margin: 7px 0;
  }

  .nav-screen.small-screen .logo-box {
    font-size: 19px;
    color: var(--orange);
    border: 1px var(--orange) solid;
    padding: 4px 5px;
    border-radius: 2px;
    margin: 30px 0 7px;
  }

  .nav-screen.small-screen .logo-box:hover {
    color: var(--frosted-glass-white);
  }

  .nav-screen.small-screen .logo-box span::before {
    background: url("../../assets/images/bamboo-orange.png") center center no-repeat;
  }

  .nav-screen.small-screen {
    background: var(--frosted-glass-white);
    color: var(--black-blue);
    height: 100vh;
  }

  .nav-screen.small-screen .nav-list {
    display: flex;
  }

  .nav-screen.small-screen .nav-figma-link {
    display: block;
  }

}

@media only screen and (max-width: 640px) {

  .container {
      padding: 0 10px;
  }




}
