@import "../app/main.css";

.banner {
  background:  url("../../assets/images/Giant Panda.png") center center no-repeat;
  background-size: cover;
  height: 390px;
  margin-top: 80px;
}

main {
  padding: 40px 0 180px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%);
}

h3 {
  font-size: 2.25em;
}

.donate-header {
  color: #FFF;
  margin-bottom: 10px;
}

.donate-info {
  color: var(--orange);
  margin: 40px 0 60px;
}

.pick-and-feed-header {
  font-size: 3em;
  margin-bottom: 20px;
}

.pick-and-feed-header ~ p:first-of-type {
  font-size: 1.5em;
}

.donate-header ~ p {
  color: #FFF;
  font-weight: 400;
}

.pick-and-feed {
  color: var(--black-blue);
  text-align: center;
}

.panda-diet,
.range-container,
.range-container label {
  display: flex;
}

.panda-diet {
  margin: 60px 0 48px;
  justify-content: center;
  align-items: center;
}

.panda-diet>div {
  text-align: center;
}

.four {
  font-size: 4.5em;
  font-weight: 500;
  color: #000;
}

[alt="x_icon"] {
  margin: 0 64px 0 11px;
}

.range-container {
  justify-content: space-between;
  margin: -20px 0 60px;
  padding: 0 20px 0 10px;
}

#donate-form {
  position: relative;
  text-align: center;
}

.range-level {
  width: 100%;
  height: 27px;
  background: #404950;
  border-radius: 2px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 29px;
  box-sizing: border-box;
}

.level {
  width: 100%;
  height: 2px;
  background: #72828E;

}

.range-container label {
  flex-direction: column;
  align-items: center;
  position: relative;
}

.amount {
  text-align: left;
}

.donation {
  margin-top: 12px;
}

[name="donate"] {
  width: 10px;
  height: 10px;
  position: relative;
  border-radius: 50%;
}

[name="donate"]::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 20px;
  z-index: 99;
}

[name="donate"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: var(--yellow);
  border-radius: 50%;
  z-index: 100;
}

.donate-checkmark {
  width: 20px;
  height: 20px;
  border: 3px solid var(--orange);
  border-radius: 50%;
  position: relative;
  margin-top: -18px;
  visibility: hidden;
  z-index: 101;
}

.donate-checkmark::after {
  content: "";
  width: 40px;
  height: 40px;
  top: -13px;
  left: -13px;
  border: 3px solid var(--orange);
  border-radius: 50%;
  position: absolute;
  z-index: 102;
}

[name="donate"]:checked ~ .donate-checkmark {
  visibility: visible;
}

label[for="donation-amount"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="number"] {
  width: 268px;
  height: 54px;
  padding: 16px 9px;
  box-sizing: border-box;
  background: rgba(255, 0, 0, 0);
  border: 1px solid #929699;
  border-radius: 2px;
  color: #929699;
  position: relative;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.dollar {
  color: #929699;
  font-size: 1.5em;
  font-weight: 700;
  margin-left: -25px;
}

#donate-form button {
  margin: 30px auto;
  border: none;
}

.pick-and-feed a {
  text-decoration: none;
}

.frequency {
  margin-top: 26px;
}

.frequency label {
  position: relative;
}

.frequency label:first-of-type {
  margin-right: 50px;
}

input[name="frequency"] {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: relative;
  opacity: 0;
}
.frequency-checked {
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid var(--orange);
  border-radius: 50%;
}

.frequency-checked::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  background: var(--orange);
  border-radius: 50%;
  display: none;
}

input[name="frequency"]:checked ~ .frequency-checked::after {
  display: block;
}


@media only screen and (max-width: 1599px) {

}

@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 640px) {

}
